.ppp{

    background-image: url('../img/pexels-cowomen-2041629.jpg');
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fdf48c;
}
::-webkit-scrollbar-thumb {
    background: #DFD000;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {

    background: #555;
}
.bg-newOrange{
    background-color: #DFD000;
    border-radius: 10px;
}
.customBtn:hover{
   background-color: black;

}
#back-to-up{
    margin: 10px;
}
#preloader{
    background: #000000 url('../img/eb.gif') no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.carousel-item {
    min-height: 100vh;
}
#feature{
    color: #DFD000;
}
#staff{
    color: #DFD000;
}
#feature-sub{
    color: #fdf48c;
}

#staff-sub{
    color: #fdf48c;
}

.c{
    background: #b4b4b4 url('../img/carousel-1.jpg') no-repeat center center;
}
.cc{
    background: #b4b4b4 url('../img/carousel-2.jpg') no-repeat center center;
}
.ccc{
    background: #b4b4b4 url('../img/carousel-3.jpg') no-repeat center center;
}
